<a href="https://colab.research.google.com/github/sarasabino/Accident_Rate_Project/blob/main/Src/Notebooks/00_Data_generation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Generation

Although we have the data from the accidents occurred at the company we need to have the data from the staff with its characteristics to be able to develop a machine learning algorithm. 

The idea is to generate fake data to be able to perform the algorithm and then when data is real we can apply it.

For that purpose we are going to generate a csv file with the staff of the company. 

We are going to assume this is the static company's staff.

In [407]:
! cp /content/drive/MyDrive/'Colab Notebooks'/'TFM Accidentabilidad'/Data/HS_Accidentabilidad.csv .
! cp /content/drive/MyDrive/'Colab Notebooks'/'TFM Accidentabilidad'/Data/'G_Plantas y Tech'.csv .
! cp /content/drive/MyDrive/'Colab Notebooks'/'TFM Accidentabilidad'/Data/Datos_plantilla_fabrica.csv .

We are going to upload the accidents data we have

In [408]:
import pandas as pd

accidentes = pd.read_csv('HS_Accidentabilidad.csv', sep=';')

accidentes = accidentes[(accidentes['Año']== 2018) | (accidentes['Año']==2019) | (accidentes['Año']==2020) ]

In [409]:
len(accidentes)

4180

In [410]:
accidentes['Gravedad potencial']

2057    Muy grave
2062         Leve
2063         Leve
2064         Leve
2065         Leve
          ...
7200          NaN
7430          NaN
7436          NaN
7580          NaN
7581          NaN
Name: Gravedad potencial, Length: 4180, dtype: object

In [411]:
staff = accidentes[['Codigo accidentado', 'Puesto habitual de trabajo','Turno','Edad','Género','Planta', 'Tipo accidente', 'Tipo trabajador', 'Gravedad potencial', 'Lugar o seccion accidente']]
staff.head()

     Codigo accidentado  ...      Lugar o seccion accidente
2057       HS-CLMB_2546  ...              Células Soldadura
2062       HS-CEPA_2563  ...                          Tubos
2063       HS-GNVT_2564  ...                          Tubos
2064       HS-GNVT_2565  ...  Almacén de Producto Terminado
2065       HS-DNGG_2566  ...                       Blanking

[5 rows x 10 columns]

In [412]:
planta = pd.read_csv('G_Plantas y Tech.csv', sep=';')
planta.drop(columns={'Activo'}, inplace=True)
planta.head()

   ID    Fabrica          Tecnología       Pais
0   1  Argentina            Blanking  Argentina
1   2  Argentina  Corte Longitudinal  Argentina
2   3  Argentina   Corte Transversal  Argentina
3   4    Arizona   Células Soldadura       EEUU
4   5    Arizona         Corte Láser       EEUU

In [413]:
len(staff)

4180

In [414]:
staff = staff.merge(planta, left_on='Planta', right_on='ID', how='left')

In [415]:
staff.drop(columns={'ID'}, inplace=True)

staff.head()

  Codigo accidentado Puesto habitual de trabajo  ...   Tecnología    Pais
0       HS-CLMB_2546    Operario de Puente Grúa  ...     Skinpass  España
1       HS-CEPA_2563                  Engraving  ...     Recocido  España
2       HS-GNVT_2564                Titular L-8  ...     Skinpass  España
3       HS-GNVT_2565               Carretillero  ...     Skinpass  España
4       HS-DNGG_2566                        NaN  ...  Corte Láser  España

[5 rows x 13 columns]

In [416]:
len(staff)

4180

Now we are going to upload some staff data to get the number of trainning hours per plant and have a reference of the quantity of empleados we want to generate. This data is aggregated so it is not valid for our analysis

In [417]:
rrhh_plant = pd.read_csv('Datos_plantilla_fabrica.csv', sep=';')

rrhh_plant['Año'].unique()

array([2017., 2016., 2018., 2019.,   nan, 2020., 2021.])

In [418]:
# we are getting only 2020 for our analysis

rrhh_plant = rrhh_plant[rrhh_plant['Año']==2020]

In [419]:
rrhh_plant.head()

        ID  ... Empleados Propios - duración determinada
2615  3819  ...                                     14.0
2616  3820  ...                                     38.0
2617  3821  ...                                      3.0
2618  3822  ...                                      2.0
2619  3823  ...                                     28.0

[5 rows x 16 columns]

In [420]:
trainning_hours = rrhh_plant[['Planta','Horas Presencia Efectiva Subcontratados', 'Horas Presencia Efectiva ETTs', 'Horas Formacion Seguridad Propios', 'Horas Formacion Seguridad ETTs']]

In [421]:
trainning_hours.rename(columns={'Planta':'Fabrica'}, inplace=True)
trainning_hours.head(1)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

        Fabrica  ...  Horas Formacion Seguridad ETTs
2615  Barcelona  ...                            23.0

[1 rows x 5 columns]

In [422]:
trainning_hours = trainning_hours.groupby('Fabrica').agg('sum').reset_index()

In [423]:
staff = staff.merge(trainning_hours, on='Fabrica', how='left')
staff.head()

  Codigo accidentado  ... Horas Formacion Seguridad ETTs
0       HS-CLMB_2546  ...                          830.1
1       HS-CEPA_2563  ...                          830.1
2       HS-GNVT_2564  ...                          151.5
3       HS-GNVT_2565  ...                          151.5
4       HS-DNGG_2566  ...                          101.5

[5 rows x 17 columns]

Now we are going to calculate the proportion in 2020 between people and accidents occur

In [424]:
employees = pd.read_csv('Datos_plantilla_fabrica.csv', sep=';')
employees = employees[['Año', 'Empleados Propios', 'Empleados Ajenos', 'Empleados ETTS',  'Empleados Subcontrata']]
employees = employees.fillna(0)
employees = employees.groupby(['Año']).agg('sum')
employees.head()

        Empleados Propios  ...  Empleados Subcontrata
Año                        ...
0.0               15754.0  ...                  786.0
2016.0            40609.0  ...                    0.0
2017.0            43291.0  ...                    0.0
2018.0            49865.0  ...                 2993.0
2019.0            50625.0  ...                 2697.0

[5 rows x 4 columns]

In [425]:
accidentes = pd.read_csv('HS_Accidentabilidad.csv', sep=';')
accidentes = accidentes[['Año', 'Codigo accidentado']]
accidentes = accidentes.groupby('Año').agg('count').reset_index()
accidentes.rename(columns={'Codigo accidentado':'Accidentes'}, inplace=True)
accidentes.head()

      Año  Accidentes
0  2015.0         202
1  2016.0        1335
2  2017.0        1203
3  2018.0        1532
4  2019.0        1526

In [426]:
employees = employees.merge(accidentes, on='Año', how='inner')
employees.head()

      Año  Empleados Propios  ...  Empleados Subcontrata  Accidentes
0  2016.0            40609.0  ...                    0.0        1335
1  2017.0            43291.0  ...                    0.0        1203
2  2018.0            49865.0  ...                 2993.0        1532
3  2019.0            50625.0  ...                 2697.0        1526
4  2020.0            65644.0  ...                 1335.0        1122

[5 rows x 6 columns]

In [427]:
employees.dtypes

Año                      float64
Empleados Propios        float64
Empleados Ajenos         float64
Empleados ETTS           float64
Empleados Subcontrata    float64
Accidentes                 int64
dtype: object

In [428]:
employees['Total_emp'] = employees['Empleados Propios'] + employees['Empleados Ajenos'] + employees['Empleados ETTS'] + employees['Empleados Subcontrata']

In [429]:
employees = employees[['Año', 'Accidentes', 'Total_emp']]

employees['perc_acc'] = employees['Accidentes'] / employees['Total_emp'] * 100
employees.head()

      Año  Accidentes  Total_emp  perc_acc
0  2016.0        1335    49769.0  2.682393
1  2017.0        1203    53085.0  2.266177
2  2018.0        1532    71795.0  2.133853
3  2019.0        1526    71672.0  2.129144
4  2020.0        1122    79866.0  1.404853

For our analysis we are going to suppose we have a year staff, with all people. 
We would have 79900 people with around 7000 people who have suffered an accident on the past years.

In [430]:
len(staff)

4180

In [431]:
#we add a new column to indetify those people who have suffered an accident in our dataset
staff['Accident'] = 'Yes'
staff.head()

  Codigo accidentado  ... Accident
0       HS-CLMB_2546  ...      Yes
1       HS-CEPA_2563  ...      Yes
2       HS-GNVT_2564  ...      Yes
3       HS-GNVT_2565  ...      Yes
4       HS-DNGG_2566  ...      Yes

[5 rows x 18 columns]

In [432]:
#plant data we dont have any null values
staff['Planta'].unique()

array([20, 19, 12, 41,  7,  1, 13, 28,  2,  5, 26, 16, 25, 15, 36, 35, 33,
       53, 54,  4, 14, 34, 27, 29, 32, 57,  6, 56, 30, 55, 46, 43, 45, 18,
       44, 63, 47, 84])

In [433]:
##work position

positions = staff['Puesto habitual de trabajo'].unique()
len(positions)

794

In [434]:
import random
import numpy as np 

staff['wk_position'] = np.random.choice(positions, size=len(staff))

In [435]:
staff['wk_position'].unique()

array(['Material Handler', 'customer', 'Vaciado contenedores de chatarra',
       'Pontonero', 'Longi 2', 'Operator / Stacker Operator',
       'Slitter Op', 'Gantry crane operator', 'Verpackerin',
       'assistant of operator', 'Gruista Subcontrata Pardo Freijo',
       'Expediciones, carga de camiones', 'Operario Puente Grúa',
       'Maschinenführer', 'Proceso decapado',
       'Maschinenführerin 2 Presse 3', 'MF2 Presse 1',
       'Transportista externo(Telemix)', 'Conductor Toro Hyster',
       'TRANS005', 'Madera Prensas', 'Ayudante perfiladora Dimeco', 'EPM',
       'APILADOR TRANS002', 'Maquinista Perfiladora Tubos',
       'CARPINTERO TRANS001', 'CHOFER', 'Lkw-Fahrer', 'Maintenance',
       'Material Handler moving stock around and loading vehicles',
       'AYUDANTE PRENSA002', 'Operario entrada linea decapado',
       'Verificador tubos 601', 'Acumulador', 'Maquinista longitudinales',
       'Carreteillero', 'Maschinenbedienerin', 'LINEA DE PRENSA', 'lider',
       'Packing team member ', 'GRUISTA - CARRETILLERO - PRENSAS',
       'Montador LONGI003', 'packer', 'Ayudante LONGI004',
       'Empaquetador Tubos', 'supplier', 'Operador Logístico I',
       'Ayudante LONGI008', 'Fahrer Räumfahrzeug', 'EMBALAJE MANUAL',
       'Verpacker Halle 4', 'EMBALADORA LONGI 6', 'Titular Corte Termico',
       'Sierra Behringer', 'Kranführer Halle 1 Süd', 'LCP 02', 'DECAPADO',
       'No hay personas implicadas', 'Operador de Har lan',
       'Maschinenführer 1 Presse', 'Auxiliar/Montador', 'CHATARRERO',
       'MF1 LONGI001', 'BOBINERO',
       'Carretillero de la Empresa Pardo Freijo',
       'Puente Grua Galvanizado', 'alimentador p5', 'Operating the crane',
       'Montacarguista (en entrenamiento)', 'Material handler',
       'roll form machine', 'Instandhalter', 'GRUISTA PTA07 PTA08',
       'Movimiento de carretilla elevadora', 'maquinista / gruista',
       'CARRETILLERO PRENS004', 'Montador LC4', 'Supervisor Logistik',
       'Carrtillero', 'Sierra corte metal', 'DESCARGAS',
       'MAQUINISTA TRANS 2', 'Shift Manager', 'Gruista/soldador',
       'Operador Decapado', 'Gruista Almacenes', 'EMBAL015', 'Montador',
       'No, su puesto habitual es entrada decapado', 'Titular de Linea',
       'TITULAR LÍNEA CORTE PRENSA I', 'Gruista nave 6b zona negro',
       'forklift external maintance', 'Maquinista LONGI009',
       'Forklift Driver', 'plegadora', 'Gruista/cargador',
       'Supervisor Mantenimiento', 'Cargador zona de negro',
       'Maschinenführer Presse 4/6', 'Prozessoptimierer',
       'Salida de la carretilla de descarga y flejado del material',
       'MF1 Presse 1', 'galvanizado', 'Auxiliar logística',
       'Carretillero galvanizado', 'Carrying metarial by forklift',
       'Transporte de material acabado', 'Pupitre de entrada decapado',
       'Handling material', 'Descargador', 'Carga y descarga vagones',
       'Operador de Produção II', 'MF LSL 1', 'GRUISTA', 'Mantenimiento',
       'maquinista', 'Operador logistico', 'Sorting and packing product',
       'Verlader Halle 8', 'Lkw Fahrer Firma Schielke',
       'GRUISTA - EMBALADOR', 'Maschinenführer 1 Presse 4/6',
       'Soldador/gruista', 'Kranführer Halle 2', 'Titular Prensa 1',
       'Operario de montacarga', 'Crane driver', 'galvanized-hanger',
       'Operadores limpieza de caldera y gruista de caldera',
       'Neutra De Galvanizado', 'OPERARIO TREN DE TROQUELADO',
       'soldador/gruista', 'LONGI002', 'Mantenimiento Eléctrico',
       'Operario de maquinas', 'FINANZAS - PAGO A PROVEEDORES',
       'Camionero externo',
       'Stacker Operator - Training as blanking operator',
       'welding for polygon', 'Lkw Fahrer', 'Operario Salida Decapado',
       '占从涛', 'hanger', 'Varios', 'Carpintería', 'EMBAL480', 'flejador',
       'Manutenção', 'montador y embajador en LCL', 'Slitting Operator ',
       'Auxiliar de Laboratorio', 'MF2 LONGI002', 'Fertigungsingenieur',
       'Supervisor Produktion', 'Corte plasma', 'Techniker', 'Embal480',
       'CARRETILLERO TRANS005', 'metal grinding - 2A hole',
       'Lkw-Fahrer von Veolia-Umweltservice (extern)',
       'galvanized-  packaging', 'OPERARIO', 'GRUA CALDERA', 'plegador',
       'Soldador y gruista', 'Puente Grua - Flejador',
       'External Agency - Camera Installer', 'Maschinenführer 2 Pressen',
       'Zona de Picos de Nave 3', 'safety guard', 'Presseneinrichter',
       'Auxiliar máquina 1', 'Wergzeugmacher', 'maquinista/gruista',
       'Operario de Entrada M1 y Gruista', 'Platinen wenden',
       'Press operator Ln 3  2nd shift', 'Maschinenführer Presse 1',
       'Titular de línea y auxiliar (Prensa Rovetta)', 'team leader',
       'Gruista entrada', 'Operario de maquina (taladro radial)',
       'Control Calidad', 'storekeeper', 'Maquinista longitudinal',
       'Línea Longitudinal', 'Operating the portalcrane',
       'Operador auxiliar', 'proceso',
       'Auxiliares de Logistica\r\nOperador de Grua Telescopica',
       'Kranführer', 'Corte térmico ', 'Maquinista perfiladora',
       'MAQUINISTA CORTE LONGITUDINAL', 'maquinista longi009',
       'Maschinenführer 1 Presse 7',
       'Operador de montacargas asistido en la carga de camiones',
       'Maquinista', 'Verpacker LONGI001', 'Empaquetador tubos',
       'EMBALADO Y FLEJADO', 'Maquinista LC4/LC7 y Gruista',
       'Cargador negro/gruista', 'Nacharbeit', 'Operador Puente Grúa',
       'Gruista Nave 2 - 3', 'Operador Puente-Grúa', 'Oxgyen cutting',
       'Gruista de caldera y operadores de limpieza',
       'maquinista de robot de soldadura', 'OPERARIO DE CARGA',
       'DESCARGADOR GALVANIZADO', 'Maquinista TRANS005',
       'Operario de muestras', 'OPERADOR CARRETILLA', 'Soldador II',
       'Operador Principal LCL', 'EMBALADORA 2', 'EMBALADORA 1',
       'Gruista ( PARDO FREIJO) Subcontrata', 'Ayudante de circular',
       'PRENSA002', 'Werkzeugmacher', 'Flejado y Embalado',
       'Staplerfahrer Halle 3',
       'Operador de montagem de árvores de navalhas / Operador auxiliar',
       'Slitter Operator', 'Maquinista Perfiladoras',
       'Operario Entrada Decapado M1', 'Operario Puente grúa',
       'Handling the equipment', 'Cargador Galvanizado',
       'IT-Administrator', 'poligon production-black area',
       'Bestücker LSL 2', 'EMBALADOR TRANS002',
       'Titular Línea Corte Prensa II',
       'Drove the forklift fork the products',
       'Líder de Logistica y Planeación',
       'Operador auxiliar / Montador de árvores de navalhas',
       'Verpacker Presse 3', 'Maquinista Sierras Corte Tubos',
       'SI. Auxiliar Evacuación MTM2', 'Lifting material on acid pool',
       'Cargador de entrada', 'Titular LONGI001', 'Auxiliar de logística',
       'Empaquetador en formación', 'OPERADOR PUENTE GRUA',
       'empaquetador',
       'Salida del vehículo de la nave en semáforo rojo después de haber realizado la descarga',
       'OPERADOR DE CARRETILLA', 'Grinding',
       'Preparación del material para el corte en la línea, corte flejado',
       'Ninguno de los implicados desempeñaban funciones habituales en la línea donde se produjo el incidente.',
       'LONGI 1', 'n/a ', 'N/A ', 'road safety', 'operario de linea',
       'GRUISTA LONGI004-008+MANTENIMIENTO+MAQUINISTA LONGI008',
       'Gruista nave 6b zona de carga', 'Flejador',
       'Maschinenführer 2 Presse 5', 'MONTADOR LONGI008',
       'CONTROLADOR DE PROCESOS', 'AUXILIAR DE LINEA',
       'Red Bud Blanking Line', 'Kranfahrer Halle 1 Nord',
       'Ferienarbeiter Instandhaltung', 'Operador Paletizadora',
       'Carretilla', 'gruista varios', 'Maquinista Trans3', 'Soldadura',
       'forklift driver', 'Alimentador Tubos 601', 'MONTADOR LONGI005',
       'EMBALAJE  T1', 'Staplerfahrer Halle 5',
       'Gruista de longitudinales y transversales',
       'Maniobra de marcha atrás después de dejar el palé con producto acabado en la zona B3',
       'store keeper', 'Lifting', 'galvanized', 'Auxiliar línea 11',
       'Embaladora', 'Maquinista Trans 003', 'gruista/ maquinista plasma',
       'Auxiliar Trans 4', 'Blanking operator', 'Slitting line Operator',
       'Proceso Galva', nan, 'MANTENIMIENTO',
       'Maschinenführer 1 Presse 1', 'operator on catting line',
       'Montacarguista', 'EMBALADOR', 'empaquetadora/ flejado',
       'Galvanizado', 'Kranbediener', 'Operario procesos',
       'Incidente sin personas implicadas', 'Carretilleros',
       'Rework Operation', 'Electromecánico',
       'Maquinistas Líneas de Corte', 'OPERARIO DE MÁQUINA',
       'Conductor Tren', 'Montador/auxiliar LONGI003', 'POTE',
       'Auxiliar Línea Corte Prensa I',
       'trabajo en la grúa de pórtico Q25T, nave lateral 1, colocación del círculo en el almacén de bobinas',
       'Operador de Logística', 'Operador de har lan', 'Programador',
       'extern', 'responsible for the shift',
       'Desmontaje de la herramienta después de la producción de la línea 1 para colocarla en el almacén de matrices – matriz núm. 26',
       'Supervisor', 'Gruista de tubos', 'EMBALADOR  480',
       'Working on Press', 'Carretillera', 'Laboratorio de Calidad',
       'Nacharbeiter', 'Gruista Tubos', 'Working in I T Department',
       'Gruista 6B Negro', 'Operario corte',
       'Limpieza del rodillo continuo en la línea PRENS002',
       'Ayudante CIZAL008', 'Longi 1', 'Maschinenführer 2',
       'store-keeper', 'Flejador-embalador',
       'Gruista y limpieza de caldera', 'mantenimiento mecánico',
       'empaquetador perfiladora de tubos',
       'Alimentador Perfiladora Tubos 601',
       'Gruista de salida galvanizado', 'CARRETILLERO PRENSAS',
       'Operator on Evtek blanking line', 'tooling work',
       'Apprentice Maintenance', 'Carretillero', 'Embaladora Longi 6',
       'bobinero', 'GRUISTA DE ENTRADA EN TUBOS',
       'Auxiliar/Montador Longi 7', 'Maquinista LC4', 'alimentador',
       'Embalador',
       'Entrada por la puerta número 3 del vehículo de carga para su descarga',
       'Ayudante volteador', 'Cargador', 'Kranführer Halle 1 Nord',
       'Director de produccción', 'Maschinen- und Anlagenführer',
       'GRUISTA LONGI009', 'Operating of press machine', 'Gruista ácido',
       'Verlader / Staplerfahrer', 'AUXILIAR LONGI 3',
       'EMBALADORA NAVE 2',
       'Traslado de bobinas del almacén de materia prima para su corte en la línea transversal PRENS002',
       'GRUISTA DE TUBO TRACKER', 'Cargador/descargador',
       'Slitting Line Operator', 'Línea de Prensa - Cargador de Bobina',
       'Staplerfahrer Halle 2', 'Operario de Linea',
       'Operario puente grúa', 'Controlador de proceso',
       'Carrying a pole via forklift', 'Maschinenführer 1 Presse 3', '.',
       'Flejador TRANS001', 'PERSONAL DE LINEA', 'packaging',
       'Forklift Operator', 'LONGI06',
       'Operador de Embalagem / Operador Auxiliar', 'Operador II',
       'maquinista tubos', 'Verpacker / Bestuecker', 'Verlader',
       'Weighbridge Operator', 'OPERARIO DE LINEA', 'Mechatroniker',
       'Gruista/carretillero', 'Montador LONGI001', 'Alimentador tubos',
       'EMBALADOR 480', 'Titular prensa', 'Shipping Coordinator',
       'shift manager', 'Maschinenführer 2 Presse 1',
       'Área de manutenção de ferramentas da prensa (Matrizes de corte)',
       'LONGI009', 'TREN DE LAMINACIÓN', 'Crane operator',
       'Pontonero y maquinista TRANS006',
       'Verlader / Staplerfahrer Halle 8', 'PROCESOS', 'OPEN COIL',
       'ZONA APILADOR LCP', 'Carga material negro',
       'Maschinenführer 2 Presse 2', 'Na', 'Mechatroinker',
       'LINEAS DE CORTE LONGITUDINAL',
       'Camionero ( PARDO FREIJO) Gruista Gancho C (Gonvauto Galicia)',
       'Assistant of line operator', 'Verpacker Halle 8', 'TRANS 4',
       'Descargador Galvanizado', 'Chófer/camionero', 'Plazmada kesim',
       'Maquinista Trans003', 'Gruista del ácido', 'Entrada Decapado',
       'Operador de Recolha de Resíduos', 'Gruista Nave 4.', 'operator',
       'Alimentador de perfiladoras de tubos', 'TPM loading car loop',
       'Cargue de material', 'Si. Jefe cortadora Mair.',
       'Descargador galvanizado', 'AYUDANTE LONGI005',
       'Entrada para la descarga del camión con la bobina – no se dispone de datos del conductor',
       'Movimentação', 'Grua Caldera Galvanizado',
       'VARIOS - EMBALAJE DE BOBINAS',
       'sacado de los palés verdes de la zona para suministrarlos a las líneas como bases de palés alternativos, utilizados reiteradamente por Gestamp',
       'Automatenbefüller', 'Kranführer Halle 7', 'Caretillero',
       'Montador Prensa 002', 'Slitting Operator',
       'Maschinenführer 2  LONGI 001', 'Operario de mantenimiento',
       'Operador Principal / montador de árvore de navalhas',
       'montador LONGI008', 'línea de corte',
       'Mick Brennan is responsible for all cranes and lifting equipment',
       'Carretillero/Gruista', 'Loading team leader',
       'Maquinista LONGI003', 'FLEJADOR TRANS002',
       'Manual operation on protective rods', 'Longi 6',
       'Operador Principal (Em formação)', 'Cargador descargador',
       'Entrada Decapado M1', 'Titular Línea Corte Prensa I',
       'Operario de puente grúa', 'CIZALLA', 'truck driver', 'TRANS002',
       'LkW-Fahrer', 'CARPINTERO TRANS002', 'Forklift driver',
       'CARRETILLA', 'EMBALADORA', 'Auxiliar de Producción',
       'Material  Handler / Slitting Operator',
       'maquinista de maquina de corte Tecoi', 'Titular de longi004',
       'Oxygen welding', 'MAQUINISTA LONGI008', 'Torro Hyster',
       'Tornero ajustador', 'Personal de mantenimiento', 'Embaladora 2',
       'Verpacker', 'Maschinenführer 1', 'Flejador/ ayudante TRANS007',
       'Mecanico', 'Auxiliar Línea Corte Longitudinal', 'Kranfahrer',
       'Alimentador', 'Cizal - Guilhotina',
       'Puente Grua Longitudinales Y Transversales',
       'operator on packaging line', 'DIRECTOR COMERCIAL',
       'Recibido de galvanizado', 'Maquinista plasma',
       'packaking -road safety', 'Toolmaker', 'Perfiladora Casset',
       'Gruista de salida', 'Traslados', 'Operario Entrada Decapado',
       'Maschinenführer Presse 3', 'assembler of circular knives',
       'caretillero', 'Kranführer Halle 0', 'Rework',
       'Maquinista líder PRENS004', 'Expedição - enlonamento',
       'GRUISTA NAVE 5', 'Si. Operario Rattunde en Formacion',
       'GRUISTA PTA008', 'GRUISTA DE CALDERA Y OPERARIOS DE LIMPIEZA',
       'Equipo de preparación de montajes', 'Jigging',
       'Operador auxiliar LCT', 'LCL 01', 'MF2 Anlernen', 'Almacenes',
       'Operario de Puente Grúa', 'Maintenance Engineer',
       'Titular TRANS003', 'LONGI008', 'material carrying-plasma',
       'Kranführer Halle 3', 'Regular function', 'Jefe Ventas Zona Sur',
       'Slitter Operators ', 'Punzonadora',
       'Gruista de caldera y limpieza de caldera', '包装packaging',
       'Engraving', 'packaging worker', 'worker',
       'Gruista y Maquinista Trans', 'Bediener Biele-Wender, Halle 8',
       'slitting Op ', 'Mitarbeiter Produktion', 'PRENSA 001',
       'press op ', 'Maschinenführer Presse 7',
       'Montador / Auxiliar LONGI003', 'welding', 'Gruista Procesos',
       'LONGI004', 'LIDER LONGI06', 'Packer', 'GRUISTA TRANS004',
       'GRUISTA DE ENTRADA LINEA DE DECAPADO', '-', 'Bobinero',
       'Titular de Línea', 'Perfiles abiertos', 'Grúa de salida',
       'EMBALADOR 015', 'Linha de corte transversal', 'Painting',
       'Ferienarbeiter', 'CARGADOR ENTRADA', 'supervisor',
       'MAQUINISTA PRENSA004', 'Gruista zona negro',
       'Mantenimiento electrico', 'Gruista Longi004 -Longi008', 'Hornero',
       'MF2 LONGI001', 'Packaging Operator', 'Driver for Adam Jones',
       'Operador puente grúa', 'MONTADORA', 'Titular LCL',
       'Alimentador tubos 601', 'galvanized-hanging-handling',
       'Staplerfahrerin', 'Auxiliar TRANS003', 'Empaquetador',
       'AUXILIAR TRANS 4', 'Staplerfahrer Halle 7', 'OPERARIO LONGI 3',
       'Supplier', 'LCP 03', 'Titular Robot Soldadura 002',
       'Embalador Prensas', 'Si', 'Chófer', 'NÃO SE APLICA',
       'Auxiliar LONGI003',
       'Tool & Die tech from Gestamp working onsite at Gonvauto',
       'LONGI2', 'Gruista de tubo tracker', 'MF1 Presse 2',
       'Descarga galvanizado', 'UTILLERO GALVANIZADO',
       'Maquinista Adige TS72', 'Hornero Aprendiz',
       'ayudante de longitudinal', 'Metarial Handling', 'Camionero',
       'Técnico de Mantenimiento', 'ENH PRODUCTION',
       'Maschinenführer1 (MF1)', 'Mitarbeiter Schrottentsorgung',
       'Utillero', 'Maschinenbediener Presse 5', 'Tubos',
       'Maschinenbediener/-einrichter Presse 5', 'GRUISTA TRANS002',
       'Operador de Embalagem', 'OPERARIOS DE CARGA',
       'Maquinista Longi 3', 'Maquinista linea de corte longitudinal',
       'EMABALADOR', 'Gruista caldera', 'Maschinenführer 1, Presse 3',
       'Ayudante de longitudinal', 'Werkzeugbau',
       'Alimentador de perfiladora', 'Líneas de Corte Longitudinal',
       'Embalador 1 (en capacitación)', 'Flejador Línea Corte Prensa I',
       'Maschinenführer LONGI002',
       'Embalaje del material en la línea de embalaje, cliente: Hydrapres S.A',
       'toolmaker', 'Verpacker Halle 3', 'Titular LONGI008',
       'Inspector de Calidad', 'Press Operator',
       'Mitarbeiter Qualitätsmanagement', 'soldador maquinista',
       'ayudante longi008', 'Titular Circulares', 'Kranführer H1 Nord',
       'Forklift', 'Flejador LONGI001', 'Operario de granallado',
       'Saumschrott durchtrennen', 'Recibidor línea 3mts',
       'Operario máquina III', 'gruista', 'AYUDANTE PRENS001',
       'carretillero', 'Maschinenführer 1 Presse 5', 'Carpinteria',
       'Jefe de gestión de Mantenimiento', 'Stacker Operator',
       'ayudante longitudinal', 'Titular Línea Corte Transversal',
       'Press Operator/Crane', 'Puente Grua Tubos',
       'Auszubildender Mechatroniker', 'Responsable de Calidad, SGI, SPG',
       'Activación del descenso de la puerta después de haber entrado en la nave para preparar el vehículo para la descarga en la zona designada.',
       'MATRICERO', 'gruista tracker',
       'Ensamblado tubo tracker (plantilla 2)',
       'Maschinenführer 1, Presse 2', 'Staplerfahrer Halle 8',
       'Accidente que ocurre en la planta de un cliente con una cantonera colocada en un paquete de formatos enviado desde nuestra planta',
       'Maschinenführer 2 LONGI001', 'Handling', 'Trasladando bobina',
       'Operador Logistico', 'Maestro', 'MONTADOR', 'TORO GRANDE',
       'maquinista de maquina laser', 'Gruísta',
       'Auxiliar/montador LONGI002', 'carretilla', 'Chofer',
       'EMBALADORA LC6', 'Operario de Máquina', 'Forklift kullan?m?',
       'Staplerfahrer Halle 2 und 3', 'Operario plasma', 'Chofer camión',
       'Controlador de procesos', 'GRUISTA EXTERNO',
       'Logistic Forklift Driver', 'Colgador', 'Jefe de Mantenimiento',
       'Operador Auxiliar / Montador de árvores de navalhas',
       'Team Leader', 'Staplerfahrer', 'LONGI 6', 'AYUDANTE PRENS004',
       'galvanized packaking', '/ ', 'sierra de madera', ': Operador II',
       'operatorof Press', 'Gruista de entrada',
       'Cargador/descargador galvanizado', 'soldadura', 'Maestro II',
       'LONGI 5', 'guardrail-road safety', 'Gruista carga nave 6A',
       'Operador de Embalagem LCL', 'AYUDANTE PRENSAS', 'AUXILIAR LONGI',
       'packaging operator', 'AYUDANTE LONGI004', 'operator of packaging',
       'Reemplazo de herramienta en la línea de corte transversal PRENS002',
       'Gruista de caldera', 'Maschinenführerin 1', 'Forkift driver',
       'soldador', 'maquinista lc', 'MAQUINISTA Y AYUDANTE TRANSVERSAL 4',
       'TRASLADOS', 'Si (empresa externa)', 'Descarga Galvanizado.',
       'Laser Trumpf', 'Operador Principal', 'gruista de salida',
       'Flejado y embalado', 'Press Operators', 'Montador/auxiliar',
       'Operador de montacargas', 'Operador principal',
       'Titular de linea', 'galvanized - hanger', 'Gruista perfiladoras',
       'SI', 'Auxiliar', 'Anlagenführer Laser 5', 'manager',
       'Operario de maquina l', 'Handling / packaking',

In [436]:
staff.drop(columns={'Puesto habitual de trabajo'}, inplace=True)

In [437]:
#gender

staff.rename(columns={'Género':'Gender'}, inplace=True)

In [438]:
staff['Gender'].unique()

array(['Hombre', nan, 'Mujer'], dtype=object)

In [439]:
staff['Gender'] = staff['Gender'].fillna('Hombre')

In [440]:
len(staff[staff['Gender'].isnull()])

0

In [441]:
staff['Gender'].unique()

array(['Hombre', 'Mujer'], dtype=object)

Checking if we have null values in turno

In [442]:
staff.Turno.isnull().any()

False

Checking for nulls in age:

As we have null values we are goign to reassing the age range based on the proportion of the tables we hav analyzed

In [443]:
staff.Edad.isnull().any()

True

In [444]:
len(staff[staff.Edad.isnull()])

1855

In [445]:
rangos_edad = ['Menor 30', 'Entre 30-50', 'Mayor 50']
weights = {'Hombre':[0.2, 0.44, 0.36], 'Mujer':[0.2,0.55,0.25]}

In [446]:
np.random.seed(0)

def apply_randoms(x):
  key = x['Gender'].iat[0]
  return pd.Series(np.random.choice(rangos_edad, size=len(x), p=weights[key]))

In [447]:
staff['Age'] = staff.groupby('Gender').apply(apply_randoms)\
       .rename('Age').reset_index().drop('level_1', 1)['Age']

In [448]:
staff.drop(columns={'Edad'}, inplace=True)

Checking is there is any row with null at type of accident

In [449]:
staff['Tipo accidente'].isnull().any()

False

Worker type have null values at some rows

In [450]:
staff['Tipo trabajador'].isnull().any()

True

In [451]:
staff['Tipo trabajador'].unique()

array(['ETT', 'Indefinido', 'Duración Determinada',
       'Incidente (no aplica)', 'Subcontratado', 'Prácticas', nan,
       'Cedidos de otras plantas', 'No aplica', 'Indefinido con preaviso'],
      dtype=object)

In [452]:
staff[staff['Tipo trabajador'].isnull()] #As we only have two values null we are going to assign directly 'Indefinido'

     Codigo accidentado            Turno  ...       wk_position       Age
2831       HS-NVRR_8597  Turno de mañana  ...       galvanizado  Menor 30
2832       HS-NVRR_8598  Turno de mañana  ...  Titular de Linea  Mayor 50

[2 rows x 18 columns]

In [453]:
staff['Tipo trabajador'] = staff['Tipo trabajador'].fillna('Indefinido')

In [454]:
staff['Tipo trabajador'].isnull().any()

False

Potential Severity columns has null values as well

In [455]:
staff['Gravedad potencial'].isnull().any()

True

In [456]:
len(staff[staff['Gravedad potencial'].isnull()])

1009

In [457]:
## we are going to assign it randomly
staff['Gravedad potencial'].unique()
severity = ['Muy grave', 'Leve', 'Grave']

In [458]:
for i in staff['Gravedad potencial']:

  if str(i) == 'nan':
    staff['Severity'] = np.random.choice(severity, size=len(staff))
  else:
    staff['Severity'] = i

In [459]:
staff['Severity'].isnull().any()

False

In [460]:
staff['Severity'].unique()

array(['Leve', 'Muy grave', 'Grave'], dtype=object)

In [461]:
staff.drop(columns={'Gravedad potencial'}, inplace=True)

Aciccent's place/section

In [462]:
staff['Lugar o seccion accidente'].isnull().any()

True

In [463]:
len(staff[staff['Lugar o seccion accidente'].isnull()])

63

In [464]:
staff['Lugar o seccion accidente'].unique()

array(['Células Soldadura', 'Tubos', 'Almacén de Producto Terminado',
       'Blanking', 'Corte Longitudinal', 'Corte Transversal',
       'Almacén de Materia Prima', 'Cizalla', 'Decapado', 'Puente Grúa',
       'Carpinteria', 'Galvanizado Inmersión', nan, 'Maquinaria Auxiliar',
       'Corte Plasma', 'Perfiles abiertos', 'Corte Láser',
       'Almacen productos quimicos', 'Corte Láser 3D',
       'Instalaciones exteriores y auxiliares', 'Mantenimiento', 'Prensa',
       'Almacén producto semielaborado o en producción', 'Carretilla',
       'Sierra', 'Oficinas administrativas', 'Área de embalado',
       'Punzonado', 'Soldadura Manual', 'Limpieza/Prepintado',
       'Galvanizado continuo', 'Perforado', 'Coil to Coil',
       'Tailor Welding', 'Galvanizado ', 'Almacen de recambios',
       'Galvanizado', 'Electrozincado', 'Pintura', 'General / Auxiliar',
       'Perfilado de barrera y postes', 'Skinpass', 'Slitting ',
       'General', 'Press Blanking', 'Laminado', 'Ablation Line',
       'Slitting', 'D-Ring Line', 'Multi Strand'], dtype=object)

In [465]:
place_acc = ['Células Soldadura', 'Tubos', 'Almacén de Producto Terminado',
       'Blanking', 'Corte Longitudinal', 'Corte Transversal',
       'Almacén de Materia Prima', 'Cizalla', 'Decapado', 'Puente Grúa',
       'Carpinteria', 'Galvanizado Inmersión',  'Maquinaria Auxiliar',
       'Corte Plasma', 'Perfiles abiertos', 'Corte Láser',
       'Almacen productos quimicos', 'Corte Láser 3D',
       'Instalaciones exteriores y auxiliares', 'Mantenimiento', 'Prensa',
       'Almacén producto semielaborado o en producción', 'Carretilla',
       'Sierra', 'Oficinas administrativas', 'Área de embalado',
       'Punzonado', 'Soldadura Manual', 'Limpieza/Prepintado',
       'Galvanizado continuo', 'Perforado', 'Coil to Coil',
       'Tailor Welding', 'Galvanizado ', 'Almacen de recambios',
       'Galvanizado', 'Electrozincado', 'Pintura', 'General / Auxiliar',
       'Perfilado de barrera y postes', 'Skinpass', 'Slitting ',
       'General', 'Press Blanking', 'Laminado', 'Ablation Line',
       'Slitting', 'D-Ring Line', 'Multi Strand']

In [466]:
for i in staff['Lugar o seccion accidente']:

  if str(i) == 'nan':
    staff['Accident_place'] = np.random.choice(place_acc, size=len(staff))
  else:
    staff['Accident_place'] = i

In [467]:
staff['Accident_place'].isnull().any()

False

In [468]:
staff.drop(columns={'Lugar o seccion accidente'}, inplace=True)

There arent any null values in Fabric column, technology and country fields are from fabric so the will be filled as well

In [469]:
staff['Fabrica'].isnull().any()

False

Now we are going to check the columns of efective presence hours

In [470]:
staff['Horas Presencia Efectiva Subcontratados'].isnull().any()

False

In [471]:
staff['Horas Presencia Efectiva ETTs'].isnull().any()

False

In [472]:
staff['Horas Formacion Seguridad Propios'].isnull().any()

False

In [473]:
staff['Horas Formacion Seguridad ETTs'].isnull().any()

False

In [474]:
staff.head()

  Codigo accidentado            Turno  ...   Severity  Accident_place
0       HS-CLMB_2546  Turno de mañana  ...       Leve   Mantenimiento
1       HS-CEPA_2563  Turno de mañana  ...  Muy grave   Mantenimiento
2       HS-GNVT_2564   Turno de tarde  ...  Muy grave   Mantenimiento
3       HS-GNVT_2565  Turno de mañana  ...      Grave   Mantenimiento
4       HS-DNGG_2566  Turno de mañana  ...      Grave   Mantenimiento

[5 rows x 18 columns]

Now we are going to generate the other part of our staff dataframe which contains those people who havent had an accident

In [475]:
len(staff)

4180

In [476]:
employees = rrhh_plant[['Año', 'Mes', 'Empleados Propios', 'Empleados Ajenos','Empleados ETTS','Empleados Subcontrata']]
employees  = employees[employees['Mes']=='ENE']

employees['Total'] = employees['Empleados Propios'] + employees['Empleados Ajenos'] + employees['Empleados ETTS'] + employees['Empleados Subcontrata']

employees = employees.groupby(['Año', 'Mes']).agg('sum')
employees['Total']

Año     Mes
2020.0  ENE    7070.0
Name: Total, dtype: float64

So the number of employees in 2020 7070 and we are going to take that as reference. 

As we are taking 3 years of accidents we are going to have the same proportion on the staff to be able to evaluate it. So our total number of employees in the staff table will be 21.210, 4180 accidents. 

We are going to generate now the 17030 employees who didnt have any accident

In [477]:
staff_without = pd.DataFrame(columns=staff.columns)

staff_without

Empty DataFrame
Columns: [Codigo accidentado, Turno, Gender, Planta, Tipo accidente, Tipo trabajador, Fabrica, Tecnología, Pais, Horas Presencia Efectiva Subcontratados, Horas Presencia Efectiva ETTs, Horas Formacion Seguridad Propios, Horas Formacion Seguridad ETTs, Accident, wk_position, Age, Severity, Accident_place]
Index: []

In [478]:
def create_rndm(values, column):
  staff_without[column] = np.random.choice(values, size=17030)

In [479]:
turno  = ['Turno de mañana', 'Turno de tarde', 'Turno de noche']

create_rndm(turno, 'Turno')

To create the gender columns we are going to apply weights based on the data we had from staff

In [507]:
gender = ['Hombre', 'Mujer']
weights = [0.90,0.1]

np.random.seed(0)

staff_without['Gender'] = random.choices(gender, weights=weights, k=len(staff_without))

In [481]:
planta_list = staff.Planta.unique()
create_rndm(planta_list, 'Planta')

In [482]:
staff_without.head(1)

  Codigo accidentado           Turno Gender  ...  Age Severity Accident_place
0                NaN  Turno de tarde  Mujer  ...  NaN      NaN            NaN

[1 rows x 18 columns]

In [483]:
staff_without.drop(columns={'Fabrica', 'Tecnología', 'Pais'}, inplace=True)

In [484]:
staff_without = staff_without.merge(planta, left_on='Planta', right_on='ID', how='left')
staff_without.head(2)

  Codigo accidentado            Turno Gender  ...  Fabrica   Tecnología    Pais
0                NaN   Turno de tarde  Mujer  ...  Arizona  Corte Láser    EEUU
1                NaN  Turno de mañana  Mujer  ...  Galicia     Blanking  España

[2 rows x 19 columns]

In [485]:
len(staff_without)

17030

In [486]:
tipo_accidente = staff['Tipo accidente'].unique()
create_rndm(tipo_accidente, 'Tipo accidente')

In [487]:
tipo_trabj = staff['Tipo trabajador'].unique()
create_rndm(tipo_trabj, 'Tipo trabajador')

In [488]:
staff_without.drop(columns=['Horas Presencia Efectiva Subcontratados','Horas Presencia Efectiva ETTs', 'Horas Formacion Seguridad Propios', 'Horas Formacion Seguridad ETTs' ], inplace=True)

In [489]:
staff_without = staff_without.merge(trainning_hours, on='Fabrica', how='left')

In [492]:
staff_without.drop(columns={'ID'}, inplace=True)

In [496]:
staff_without['Accident'] = 'No'

In [498]:
pos_wk = staff['wk_position'].unique()

create_rndm(pos_wk, 'wk_position')

In [500]:
rangos_edad = ['Menor 30', 'Entre 30-50', 'Mayor 50']
weights = {'Hombre':[0.2, 0.44, 0.36], 'Mujer':[0.2,0.55,0.25]}

np.random.seed(0)

staff_without['Age'] = staff_without.groupby('Gender').apply(apply_randoms)\
       .rename('Age').reset_index().drop('level_1', 1)['Age']

In [502]:
severe = staff['Severity'].unique()

create_rndm(severe, 'Severity')

In [504]:
place = staff['Accident_place'].unique()

create_rndm(place, 'Accident_place')

In [508]:
staff_without.head(2) ##cod accidentado is the only column we are going to leave blank as these employees doestn have any accident

  Codigo accidentado  ... Horas Formacion Seguridad ETTs
0                NaN  ...                            0.0
1                NaN  ...                            0.4

[2 rows x 18 columns]

Now we are going to concat both dataframes on a resulting dataframe with length of 21.210

In [511]:
staff = pd.concat([staff, staff_without])
len(staff)

21210

In [513]:
from google.colab import files

staff.to_csv('Total_staff_by_employee.csv', sep=';')
files.download("Total_staff_by_employee.csv")