<a href="https://colab.research.google.com/github/sarasabino/Accident_Rate_Project/blob/main/Src/Notebooks/00_Data_generation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Generation

Although we have the data from the accidents occurred at the company we need to have the data from the staff with its characteristics to be able to develop a machine learning algorithm. 

The idea is to generate fake data to be able to perform the algorithm and then when data is real we can apply it.

For that purpose we are going to generate a csv file with the staff of the company. 

We are going to assume this is the static company's staff.

In [228]:
! cp /content/drive/MyDrive/'Colab Notebooks'/'TFM Accidentabilidad'/Data/HS_Accidentabilidad.csv .
! cp /content/drive/MyDrive/'Colab Notebooks'/'TFM Accidentabilidad'/Data/'G_Plantas y Tech'.csv .
! cp /content/drive/MyDrive/'Colab Notebooks'/'TFM Accidentabilidad'/Data/Datos_plantilla_fabrica.csv .

We are going to upload the accidents data we have

In [229]:
import pandas as pd

accidentes = pd.read_csv('HS_Accidentabilidad.csv', sep=';')

accidentes = accidentes[(accidentes['Año']== 2018) | (accidentes['Año']==2019) | (accidentes['Año']==2020) ]

In [230]:
len(accidentes)

4180

In [231]:
accidentes['Gravedad potencial']

2057    Muy grave
2062         Leve
2063         Leve
2064         Leve
2065         Leve
          ...
7200          NaN
7430          NaN
7436          NaN
7580          NaN
7581          NaN
Name: Gravedad potencial, Length: 4180, dtype: object

In [232]:
staff = accidentes[['Codigo accidentado', 'Puesto habitual de trabajo','Turno','Edad','Género','Planta', 'Tipo accidente', 'Tipo trabajador', 'Gravedad potencial', 'Lugar o seccion accidente']]
staff.head()

     Codigo accidentado  ...      Lugar o seccion accidente
2057       HS-CLMB_2546  ...              Células Soldadura
2062       HS-CEPA_2563  ...                          Tubos
2063       HS-GNVT_2564  ...                          Tubos
2064       HS-GNVT_2565  ...  Almacén de Producto Terminado
2065       HS-DNGG_2566  ...                       Blanking

[5 rows x 10 columns]

In [233]:
planta = pd.read_csv('G_Plantas y Tech.csv', sep=';')
planta.drop(columns={'Activo'}, inplace=True)
planta.head()

   ID    Fabrica          Tecnología       Pais
0   1  Argentina            Blanking  Argentina
1   2  Argentina  Corte Longitudinal  Argentina
2   3  Argentina   Corte Transversal  Argentina
3   4    Arizona   Células Soldadura       EEUU
4   5    Arizona         Corte Láser       EEUU

In [234]:
len(staff)

4180

In [235]:
staff = staff.merge(planta, left_on='Planta', right_on='ID', how='left')

In [236]:
staff.drop(columns={'ID'}, inplace=True)

staff.head()

  Codigo accidentado Puesto habitual de trabajo  ...   Tecnología    Pais
0       HS-CLMB_2546    Operario de Puente Grúa  ...     Skinpass  España
1       HS-CEPA_2563                  Engraving  ...     Recocido  España
2       HS-GNVT_2564                Titular L-8  ...     Skinpass  España
3       HS-GNVT_2565               Carretillero  ...     Skinpass  España
4       HS-DNGG_2566                        NaN  ...  Corte Láser  España

[5 rows x 13 columns]

In [237]:
len(staff)

4180

Now we are going to upload some staff data to get the number of trainning hours per plant and have a reference of the quantity of empleados we want to generate. This data is aggregated so it is not valid for our analysis

In [238]:
rrhh_plant = pd.read_csv('Datos_plantilla_fabrica.csv', sep=';')

rrhh_plant['Año'].unique()

array([2017., 2016., 2018., 2019.,   nan, 2020., 2021.])

In [239]:
# we are getting only 2020 for our analysis

rrhh_plant = rrhh_plant[rrhh_plant['Año']==2020]

In [240]:
rrhh_plant.head()

        ID  ... Empleados Propios - duración determinada
2615  3819  ...                                     14.0
2616  3820  ...                                     38.0
2617  3821  ...                                      3.0
2618  3822  ...                                      2.0
2619  3823  ...                                     28.0

[5 rows x 16 columns]

In [241]:
trainning_hours = rrhh_plant[['Planta','Horas Presencia Efectiva Subcontratados', 'Horas Presencia Efectiva ETTs', 'Horas Formacion Seguridad Propios', 'Horas Formacion Seguridad ETTs']]

In [242]:
trainning_hours.rename(columns={'Planta':'Fabrica'}, inplace=True)
trainning_hours.head(1)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

        Fabrica  ...  Horas Formacion Seguridad ETTs
2615  Barcelona  ...                            23.0

[1 rows x 5 columns]

In [243]:
trainning_hours = trainning_hours.groupby('Fabrica').agg('sum').reset_index()

In [244]:
staff = staff.merge(trainning_hours, on='Fabrica', how='left')
staff.head()

  Codigo accidentado  ... Horas Formacion Seguridad ETTs
0       HS-CLMB_2546  ...                          830.1
1       HS-CEPA_2563  ...                          830.1
2       HS-GNVT_2564  ...                          151.5
3       HS-GNVT_2565  ...                          151.5
4       HS-DNGG_2566  ...                          101.5

[5 rows x 17 columns]

Now we are going to calculate the proportion in 2020 between people and accidents occur

In [245]:
employees = pd.read_csv('Datos_plantilla_fabrica.csv', sep=';')
employees = employees[['Año', 'Empleados Propios', 'Empleados Ajenos', 'Empleados ETTS',  'Empleados Subcontrata']]
employees = employees.fillna(0)
employees = employees.groupby(['Año']).agg('sum')
employees.head()

        Empleados Propios  ...  Empleados Subcontrata
Año                        ...
0.0               15754.0  ...                  786.0
2016.0            40609.0  ...                    0.0
2017.0            43291.0  ...                    0.0
2018.0            49865.0  ...                 2993.0
2019.0            50625.0  ...                 2697.0

[5 rows x 4 columns]

In [246]:
accidentes = pd.read_csv('HS_Accidentabilidad.csv', sep=';')
accidentes = accidentes[['Año', 'Codigo accidentado']]
accidentes = accidentes.groupby('Año').agg('count').reset_index()
accidentes.rename(columns={'Codigo accidentado':'Accidentes'}, inplace=True)
accidentes.head()

      Año  Accidentes
0  2015.0         202
1  2016.0        1335
2  2017.0        1203
3  2018.0        1532
4  2019.0        1526

In [247]:
employees = employees.merge(accidentes, on='Año', how='inner')
employees.head()

      Año  Empleados Propios  ...  Empleados Subcontrata  Accidentes
0  2016.0            40609.0  ...                    0.0        1335
1  2017.0            43291.0  ...                    0.0        1203
2  2018.0            49865.0  ...                 2993.0        1532
3  2019.0            50625.0  ...                 2697.0        1526
4  2020.0            65644.0  ...                 1335.0        1122

[5 rows x 6 columns]

In [248]:
employees.dtypes

Año                      float64
Empleados Propios        float64
Empleados Ajenos         float64
Empleados ETTS           float64
Empleados Subcontrata    float64
Accidentes                 int64
dtype: object

In [249]:
employees['Total_emp'] = employees['Empleados Propios'] + employees['Empleados Ajenos'] + employees['Empleados ETTS'] + employees['Empleados Subcontrata']

In [250]:
employees = employees[['Año', 'Accidentes', 'Total_emp']]

employees['perc_acc'] = employees['Accidentes'] / employees['Total_emp'] * 100
employees.head()

      Año  Accidentes  Total_emp  perc_acc
0  2016.0        1335    49769.0  2.682393
1  2017.0        1203    53085.0  2.266177
2  2018.0        1532    71795.0  2.133853
3  2019.0        1526    71672.0  2.129144
4  2020.0        1122    79866.0  1.404853

For our analysis we are going to suppose we have a year staff, with all people. 
We would have 79900 people with around 7000 people who have suffered an accident on the past years.

In [251]:
len(staff)

4180

In [252]:
#we add a new column to indetify those people who have suffered an accident in our dataset
staff['Accident'] = 'Yes'
staff.head()

  Codigo accidentado  ... Accident
0       HS-CLMB_2546  ...      Yes
1       HS-CEPA_2563  ...      Yes
2       HS-GNVT_2564  ...      Yes
3       HS-GNVT_2565  ...      Yes
4       HS-DNGG_2566  ...      Yes

[5 rows x 18 columns]

In [253]:
#plant data we dont have any null values
staff['Planta'].unique()

array([20, 19, 12, 41,  7,  1, 13, 28,  2,  5, 26, 16, 25, 15, 36, 35, 33,
       53, 54,  4, 14, 34, 27, 29, 32, 57,  6, 56, 30, 55, 46, 43, 45, 18,
       44, 63, 47, 84])

In [254]:
##work position

positions = staff['Puesto habitual de trabajo'].unique()
len(positions)

794

In [255]:
import random
import numpy as np 

staff['wk_position'] = np.random.choice(positions, size=len(staff))

In [256]:
staff['wk_position'].unique()

array(['operative Logistikfachkraft', 'Saumschrott durchtrennen',
       'Bediener Biele-Wender, Halle 8', 'Gruista/soldador',
       'Línea de Prensa - Cargador de Bobina', 'OPERARIO DE MÁQUINA',
       'Bestücker LSL 2', 'OPERARIO LONGI 05', 'Auxiliar/Montador',
       'Operario de montacarga', 'LINEA DE PRENSA', 'press op ',
       'Operador puente grúa', 'carretilla', 'Proceso Galva',
       'Mantenimiento', 'Operario de linea', 'tooling work',
       'UTILLERO GALVANIZADO', 'Montador/auxiliar',
       'Operador Paletizadora', 'PRENSA002', 'Empaquetador perfiladoras',
       '包装packaging', 'Carreteillero', 'AYUDANTE PRENSA002',
       'Maquinista tubos', 'Jigging', 'Zona de Picos de Nave 3',
       'Entrada Decapado', 'Gruista Nave 2 - 3',
       'Press operator Ln 3  2nd shift',
       'Ayudante de perfiladora de Dimeco', 'GRUISTA PTA07 PTA08',
       'Titular LONGI001', 'Kranfahrer', 'Instandhalter',
       'Cargador descargador', 'Auxiliar/montador LONGI002',
       'Maquinista Sierras Corte Tubos', 'Gruista ácido', 'Werkzeugbau',
       'Forklift Driver', 'Maschinenführer LONGI002', 'Operador auxiliar',
       'Handling / packaking', 'LkW-Fahrer',
       'Operario entrada linea decapado', 'soldador maquinista',
       'Maschinenführer 1 Presse 7', 'Equipo de preparación de montajes',
       'TRANS002', 'LONGI 6', 'Cizal - Guilhotina',
       'Maschinenführer Presse 4/6', 'Maschinenführer 2 Pressen',
       'maquinista longi009', 'Líder de Logistica y Planeación',
       'Titular Circulares', 'assembler of circular knives', 'MATRICERO',
       'Transportista externo(Telemix)', 'Manutenção',
       'GRUISTA DE CALDERA Y OPERARIOS DE LIMPIEZA', 'NÃO SE APLICA',
       'Wergzeugmacher', 'Staplerfahrer Halle 3', 'Carretillero',
       'Slitting Operator ', 'Control Calidad', 'Nacharbeiter', 'plasma',
       'Driver for Adam Jones', 'Supervisor Produktion',
       'Proceso decapado', 'MAQUINISTA Y AYUDANTE TRANSVERSAL 4',
       'Maquinista LC4', 'LIDER LONGI002', 'operator',
       'MONTADOR LONGI008', 'none', 'Titular TRANS003',
       'Maquinista longitudinales', 'Handling the equipment', 'proceso',
       'Director de produccción', 'Gruista carga nave 6A',
       'Alimentador Tubos 601', 'EMBALADORA 1',
       'Maschinenführer 2 Presse 3', 'DESCARGAS', 'Punzonadora',
       'CARPINTERO TRANS002', 'Bobinero', 'Camionero', 'Gruista',
       'MF2 Anlernen', 'Maquinista Perfiladoras', 'Corte plasma',
       'Expedição - enlonamento', 'Chofer camión', 'Gruista tubos',
       'SI. Carretillero', 'store-keeper', 'Perfiles abiertos',
       'Slitting line Operator', 'Operario de Linea', 'Montador',
       'OPERARIO DE LINEA', 'Gruista nave 6b zona negro',
       'Operador de Recolha de Resíduos', 'Lkw Fahrer Firma Schielke',
       'Maintenance', 'Embalador 1', 'Maquinista LONGI009',
       'Operador de montacargas asistido en la carga de camiones',
       'Operario de maquina l', 'Flejador/ ayudante TRANS007',
       'embaladora nave 2', 'Embalador 1 (en capacitación)', 'Auxiliar',
       'alimentador p5', 'manager', 'BOBINERO', 'safety guard',
       'GRUISTA TRANS002', 'Ayudante de circular', 'Soldador y gruista',
       'Titular Línea Corte Transversal', 'Oxygen welding', 'Verpacker',
       'No hay personas implicadas', 'Auxiliar/Montador Longi 7',
       'Operario corte', 'Auxiliar Trans 4', 'CARRETILLERO', 'Kranführer',
       'VARIOS - EMBALAJE DE BOBINAS', 'Titular Línea Corte Prensa II',
       'Titular LCL', 'Lkw Fahrer', 'Operario de maquinas', 'packer',
       'Entrada para la descarga del camión con la bobina – no se dispone de datos del conductor',
       'Press Operator',
       'Ninguno de los implicados desempeñaban funciones habituales en la línea donde se produjo el incidente.',
       'CARRETILLERO PRENSAS', 'montador LONGI008', 'Slitter Operator',
       'plegador', 'Operario de Máquina', 'metal grinding - 2A hole',
       'OPERARIO TREN DE TROQUELADO', 'Maschinenführer 2 Presse 2',
       'operator on catting line', 'Staplerfahrer Halle 7', 'Hornero',
       'LONGI004', 'Operario Puente Grúa', 'Staplerfahrer',
       'assistant of operator', 'Maintenance Manager',
       'Operador Logistico I', 'Slitter Operators ',
       'Sorting and packing product', 'Operador Principal (Em formação)',
       'AUXILIAR LONGI 3', 'Gruista de caldera y operadores de limpieza',
       'Auszubildender Mechatroniker', 'Descarga galvanizado',
       'Gruista de salida', 'Toolmaker', 'Carpinteria',
       'Tool & Die tech from Gestamp working onsite at Gonvauto',
       'Alimentador P3', 'Kranfahrer Halle 1 Nord',
       'GRUISTA DE TUBO TRACKER', 'Maquinista Sierra de corte Adige1',
       'Embaladora 2', 'Maestro', 'Prozessoptimierer',
       'operario de linea', 'LONGI008', 'SI. Auxiliar Evacuación MTM2',
       'Controlador de proceso',
       'No, su puesto habitual es entrada decapado',
       'poligon production-black area', 'toolmaker',
       'Montador Prensa 002', 'carretillero', 'Laboratorio de Calidad',
       'CHATARRERO', 'MF1 LONGI', 'Soldador/gruista', 'LCP 03',
       'AYUDANTE PRENS004', 'line operator',
       'Operario de Entrada M1 y Gruista', 'Verpackerin',
       'TPM loading car loop', 'packaging worker', 'Embalador Prensas',
       'Handling material',
       'Lkw-Fahrer von Veolia-Umweltservice (extern)',
       'Verpacker LONGI001', 'GRUISTA LONGI009', 'extern',
       'Responsable de Calidad, SGI, SPG', 'Operario de puente grúa',
       'Corte térmico ', 'Operador Puente-Grúa', 'OPERARIO DE CARGA',
       'Painting', 'empaquetador', 'Ferienarbeiter', 'TRANS 4',
       'Colgador',
       'Activación del descenso de la puerta después de haber entrado en la nave para preparar el vehículo para la descarga en la zona designada.',
       'Techniker', 'Ayudante de longitudinal', 'n/a ', 'EMBAL480',
       'Maquinista', 'maquinista / gruista', 'SI',
       'galvanized-hanging-handling', 'Titular de Linea',
       'Kranführer Halle 1 Süd', 'Maquinista perfiladora',
       'responsible for the shift', 'OPERARIOS DE CARGA',
       'línea de corte', 'CARGADOR ENTRADA', 'Gruista y Maquinista Trans',
       'GRUISTA NAVE 5', 'EMBALADORA LC6',
       'Operator on Evtek blanking line', 'Packaging Operator',
       'Werkzeugmacher', 'Operador Logistico', 'Mantenimiento electrico',
       'Operario de granallado', 'Verpacker Halle 8',
       'Gruista/carretillero', 'Weighbridge Operator', 'MF1 Presse 2',
       'montador y embajador en LCL', 'Maquinista líder PRENS004',
       'Longi 2', 'Operador II',
       'Operador Auxiliar / Montador de árvores de navalhas',
       'Pontonero y maquinista TRANS006', 'Operator / Stacker Operator',
       'Soldador', 'slitting Op ', 'packaking -road safety', 'OPEN COIL',
       'Maschinenbediener Presse 5', 'Gruista de caldera',
       'Ensamblado tubo tracker (plantilla 2)', 'Operador de Har lan',
       'Gruista ( PARDO FREIJO) Subcontrata', 'flejador', 'welding',
       'Team Leader', 'MAQUINISTA CORTE LONGITUDINAL',
       'Personal de mantenimiento', 'OPERARIO',
       'Gruista entrada decapado', 'Inspector de Calidad', 'N/A ',
       'PROCESOS', 'Incidente sin personas implicadas',
       'Titular Línea Corte Prensa I', 'Maquinista Trans 003',
       'Traslado de bobinas del almacén de materia prima para su corte en la línea transversal PRENS002',
       'Montador LONGI003', 'AUXILIAR DE LINEA',
       'Carrying a pole via forklift', '-', 'Trasladando bobina',
       'Sierra Behringer', 'gruista tracker',
       'Expediciones, carga de camiones', 'caretillero',
       'LINEAS DE CORTE LONGITUDINAL', 'Carretillera', 'Material handler',
       'Operario puente grúa', 'Titular de Línea', 'MF2 LONGI001',
       'material carrying-plasma', 'Maschinenbedienerin', 'CIZALLA',
       'Gruista caldera', 'Engraving', 'Grúa de salida',
       'EMBALADORA LONGI 6', 'MF2 LONGI002', 'Auxiliar línea 11',
       'Gruista de evacuación de maquinas', 'Power Press Op',
       'Carretilleros', 'Gruista y limpieza de caldera', ': Operador II',
       'AYUDANTE LONGI004', 'Titular de longi004',
       'sacado de los palés verdes de la zona para suministrarlos a las líneas como bases de palés alternativos, utilizados reiteradamente por Gestamp',
       'Stacker - training as forklift driver', 'Gruista de tubos',
       'gruista de salida', 'GRUISTA PTA008', 'Programador',
       'Operador de Produção II', 'Flejador TRANS001',
       'Red Bud Blanking Line', 'Auxiliar Línea Corte Longitudinal',
       'CHOFER', 'Blanking operator', 'maquinista/gruista',
       'Mitarbeiter Produktion',
       'Stacker Operator - Training as blanking operator',
       'Ayudante LONGI008', 'Cargador/descargador',
       'Maschinenführer 1, Presse 3', 'Operador de Logística',
       'Nacharbeit', 'Jefe Ventas Zona Sur',
       'Camionero ( PARDO FREIJO) Gruista Gancho C (Gonvauto Galicia)',
       'road safety', 'Si. Jefe cortadora Mair.', 'Troquelista',
       'Kranführer Halle 0', 'Working on Press',
       'GRUISTA DE ENTRADA EN TUBOS', 'Kranführer Halle 7',
       'Flejador-embalador', 'ayudante longi008', 'Longi 1',
       'Empaquetador en formación', 'Operario de mantenimiento',
       'Auxiliar logística', 'Verpacker Halle 4', 'Kranbediener',
       'EMBALADORA', 'Soldador 001', 'Verpacker Presse 3',
       'Forkift driver', 'MF LSL 1', 'Caretilla',
       'Controlador de procesos', 'maquinista de maquina laser',
       'Staplerfahrer Halle 5', 'Kranführer Halle 2', 'Laser Trumpf',
       'Operario de producción', 'mantenimiento mecánico',
       'Maquinista Trans3', 'MAQUINISTA TRANS 2', 'LONGI2',
       'Empaquetador', 'DIRECTOR COMERCIAL', 'Gruista Procesos',
       'GRUA CALDERA', 'team leader', 'Kranführer Halle 1 Nord',
       'Maquinista Trans003', 'Auxiliar máquina 1',
       'Alimentador de perfiladora', 'Neutra De Galvanizado',
       'MF2 Presse 5', 'PERSONAL DE LINEA', 'worker',
       'Perfiladora Casset', 'LONGI002',
       'Desmontaje de la herramienta después de la producción de la línea 1 para colocarla en el almacén de matrices – matriz núm. 26',
       'Maquinistas Líneas de Corte', 'Operador Puente Grúa',
       'Montador / Auxiliar LONGI003', 'APILADOR TRANS002',
       'Maschinenführer 2 Presse 7', 'Línea Longitudinal', 'TRANS005',
       'Embalaje del material en la línea de embalaje, cliente: Hydrapres S.A',
       'forklift external maintance',
       'Material  Handler / Slitting Operator', 'Hornero Aprendiz',
       'Chófer/camionero', 'CARRETILLERO TRANS005', 'Titular L-8',
       'Automatenbefüller', 'Maquinista Perfiladora Tubos', 'Flejador',
       'Puente Grua Tubos', 'Operario de Puente Grúa', '占从涛',
       'ENH CNC OPERATOR', 'Operador Principal',
       'maquinista de robot de soldadura', 'bobinero',
       'Gruista de tubo tracker', 'Si (empresa externa)',
       'Tornero mecanico', 'Operador Principal LCL',
       'Gruista nave 6b zona de carga', 'CARRETILLERO PRENS004',
       'Gruista entrada', 'Slitter Op', 'Ayudante longitudinal',
       'Salida Galvanizado', 'Maschinenführer 1', 'maquinista lc',
       'Staplerfahrer Halle 2', 'maquinista tubos', 'forklift driver',
       'Maschinenführer 2 Presse 5', 'Gruísta', 'Staplerfahrerin',
       'Operador principal', 'Maschinenführer1 (MF1)',
       'CARPINTERO TRANS001', 'Alimentador de perfiladoras de tubos',
       'Maschinenbediener/-einrichter Presse 5', 'galvanized-hanger',
       'Mick Brennan is responsible for all cranes and lifting equipment',
       'Auxiliar de logística', 'Operario de muestras',
       'AUXILIAR TRANS 4', 'Gruista 6B Negro', 'Auxiliar LONGI003',
       'LCP 02', 'EMBALADORA 2', 'Verlader / Staplerfahrer Halle 8',
       'EMBALAJE  T1', 'ayudante de longitudinal',
       'GRUISTA DE ENTRADA LINEA DE DECAPADO', 'GRUISTA TRANS004',
       'Maestro II', 'Gruista del ácido', 'MONTADOR',
       'Operador Logístico I', 'Verpacker Halle 3',
       'Cargador negro/gruista', 'Líneas de Corte Longitudinal',
       'Operating the portalcrane', 'Auxiliar de produccion',
       'Operador logistico', 'gruista', 'store keeper',
       'Recibido de galvanizado',
       'Reemplazo de herramienta en la línea de corte transversal PRENS002',
       'GRUISTA LONGI004-008+MANTENIMIENTO+MAQUINISTA LONGI008',
       'slitting operator', 'Manual operation on protective rods',
       'Maschinenführer Presse 3', 'soldador/gruista',
       'OPERADOR DE CARRETILLA', 'Regular function', 'LCL 01', 'LONGI06',
       'Operario máquina III', 'operator on packaging line',
       'AUXILIAR LONGI', 'Logistic Forklift Driver',
       'Alimentador Perfiladora Tubos 601', 'CONTROLADOR DE PROCESOS',
       'Working in I T Department', 'Maschinenführer 1 Presse 4/6',
       'LONGI009', 'si', 'Lifting', 'welding for polygon',
       'operatorof Press',
       'Operador Principal / montador de árvore de navalhas',
       'Montador/auxiliar LONGI003', 'Crane driver', 'Montador LONGI001',
       'Maschinenführer 2 LONGI001', 'Staplerfahrer Halle 2 und 3',
       'Supervisor Logistik', 'CARPINTERIA', 'Carretilla',
       'Carga y descarga vagones', 'Operario procesos',
       'Presseneinrichter',
       'Entrada por la puerta número 3 del vehículo de carga para su descarga',
       'Montacarguista (en entrenamiento)', 'Gruista/cargador',
       'IT-Administrator', 'Operador de har lan', 'Shipping Coordinator',
       'Montacarguista', 'packaging',
       'Si. Operario Rattunde en Formacion', 'Gruista Nave 4.',
       'roll form machine', 'Verlader Halle 8', 'GRUISTA',
       'EMBALADOR 480',
       'Operadores limpieza de caldera y gruista de caldera',
       'galvanized-  packaging', 'Empaquetador Tubos',
       'Gruista de salida galvanizado', 'Verpacker / Bestuecker', 'Na',
       'Alimentador tubos', '/ ', 'Embaladora Longi 6',
       'Cargador/descargador galvanizado',
       'Material Handler moving stock around and loading vehicles',
       'EMBALADOR  480', 'Operador de Embalagem',
       'Operador de montacargas', 'MF1 Presse 1',
       'Apprentice Maintenance', 'DECAPADO', 'soldadura',
       'Verlader / Staplerfahrer', 'lider',
       'Titular/ayudante de perfiladoras', 'Maschinenführer Presse 1',
       'Supplier', 'LIDER LONGI06', 'Grinding', 'Forklift driver',
       'Kranführer H1 Nord', 'Pote Galvanizado', 'customer', 'LONGI 1',
       'Accidente que ocurre en la planta de un cliente con una cantonera colocada en un paquete de formatos enviado desde nuestra planta',
       'Rework Operation', 'Maschinenführerin 2 Presse 3',
       'Cargador Galvanizado', 'MAQUINISTA PERFILADORAS',
       'Crane Operator', 'gruista varios',
       'Drove the forklift fork the products', 'Maschinenführer 2',
       'Verlader', 'Carretillero Railsider', 'Gruista zona negro',
       'Forklift Operator', 'MF2 Presse 1',
       'Titular y ayudantes de Perfiladora de Dimeco Perfi012',
       'ZONA APILADOR LCP', 'Operario Entrada Decapado',
       'AYUDANTE PRENSAS', 'storekeeper',
       'Puente Grua Longitudinales Y Transversales', 'Chofer',
       'Auxiliar de Laboratorio', nan,
       'Auxiliares de Logistica\r\nOperador de Grua Telescopica',
       'GRUISTA EXTERNO', 'Operador de Embalagem / Operador Auxiliar',
       'Operario de maquina (taladro radial)', 'Operador Decapado',
       'Varios', 'Puente Grua - Flejador', 'Mechatroniker',
       'Titular prensa', 'Gruista Subcontrata Pardo Freijo', 'Embal480',
       'Maquinista LC4/LC7 y Gruista', 'Slitting Operator',
       'Auxiliar Línea Corte Prensa I',
       'Área de manutenção de ferramentas da prensa (Matrizes de corte)',
       'Cargue de material', 'Cargador', 'Carrtillero', 'MONTADORA',
       'Transporte de material acabado', 'AYUDANTE LONGI005', 'Tubos',
       'Descargador Galvanizado', 'FINANZAS - PAGO A PROVEEDORES',
       'Recogedor de cizallas', 'Operador Logística 2',
       'Maschinenführer 2 Presse 1', 'FLEJADOR TRANS002',
       'Maschinenführer 1 Presse 5', 'gruista/ maquinista plasma',
       'galvanizado', 'Operating the crane', 'MONTADOR LONGI005',
       'Maschinenführer 2  LONGI 001', 'Gruista Longi004 -Longi008',
       'Flejado y Embalado', 'Press Operators',
       'Titular Robot Soldadura 002', 'Gantry crane operator',
       'Crane operator', 'Gruista Almacenes', 'Titular Corte Termico',
       'Cargador zona de negro', 'Maschinenführer Presse 7',
       'GRUISTA - EMBALADOR', 'Handling', 'Titular Prensa 1',
       'Ayudante perfiladora Dimeco', 'Descargador', 'sierra de madera',
       'Madera Prensas', 'Sierra corte metal',
       'Bestücker / Verpacker LONGI001', 'Kranführer Halle 3',
       'Titular LONGI008', 'Mantenimiento Eléctrico',
       'Flejado y embalado',
       'Maniobra de marcha atrás después de dejar el palé con producto acabado en la zona B3',
       'Montador LC4', 'Utillero', 'Acumulador', 'Maintenance Engineer',
       'Flejador Línea Corte Prensa I', 'empaquetadora/ flejado',
       'Forklift kullan?m?',
       'Operador de montagem de árvores de navalhas / Operador auxiliar',
       'Operario plasma', 'Maschinenführer 1, Presse 2', 'supervisor',
       'Operario Salida Decapado', 'Operating of press machine',
       'Shift Manager', 'Grua Caldera Galvanizado', 'Electromecánico',
       'packaging operator', 'DESCARGADOR GALVANIZADO', 'Torro Hyster',
       'MANTENIMIENTO', 'EMBALADOR 015',
       'Preparación del material para el corte en la línea, corte flejado',
       'ayudante longitudinal', 'Fahrer Räumfahrzeug', 'Oxgyen cutting',
       'shift manager', 'EMBALADO Y FLEJADO', 'Galvanizado',
       'Gruista de entrada', 'Press Operator/Crane',
       'guardrail-road safety', 'AYUDANTE PRENS001', 'Gruista Tubos',
       'Maquinista plasma', 'foreman', 'GRUISTA - CARRETILLERO - PRENSAS',
       'Operador auxiliar / Montador de árvores de navalhas',
       'Maquinista TRANS005', 'soldador', 'Titular Linea', 'Embalador',
       'wrapping and packing bundles of steel ',
       'Descargador galvanizado', 'Caretillero', 'Empaquetador tubos',
       'Gruista perfiladoras', 'Movimentação',
       'Maquinista linea de corte longitudinal', 'hanger',
       'Anlagenführer Laser 5', 'EMBALAJE MANUAL',
       'Puente Grua Galvanizado',
       'Salida del vehículo de la nave en semáforo rojo después de haber realizado la descarga',
       'Operario Puente grúa', 'Lkw-Fahrer', 'Técnico de Mantenimiento',
       'Mechatroinker', 'Maschinen- und Anlagenführer', 'ENH PRODUCTION',
       'Ayudante LONGI004', 'Soldador II',
       'Lifting material on acid pool', 'Auxiliar de Producción',
       'EMBALADOR', 'Gruista LONGI004 y LONGI008', 'TRASLADOS', 'Chófer',
       'Auxiliar de producción', 'Alimentador tubos 601',
       'Jefe de gestión de Mantenimiento', 'Camionero externo',
       'maquinista de maquina de corte Tecoi', 'Maquinista Adige TS72',
       'LONGI 5', 'galvanized packaking', 'Auxiliar TRANS003',
       'Mitarbeiter Schrottentsorgung', 'linea de manutencion',
       'EMBAL015', 'operator of packaging', 'Stacker Operator',
       'Auxiliar de linea', 'Operador auxiliar LCT', 'supplier',
       'External Agency - Camera Installer', 'Plazmada kesim',
       'Embaladora', 'empaquetador perfiladora de tubos',
       'Alimentador Tubos', 'EMBALADORA NAVE 2', 'PRENSA 001',
       'Titular de linea', 'Flejador LONGI001', 'EPM',
       'Carrying metarial by forklift', 'Maschinenführer 1 Presse 3',
       'EMBALADORA015', 'Vaciado contenedores de chatarra',
       'Carretillero/Gruista', 'OPERADOR PUENTE GRUA',
       'Operario Entrada Decapado M1', 'truck driver',
       'Maquinista Longi 3', 'Maquinista longitudinal', 'Almacenes',
       'Operario de pantógrafo', 'galvanized - hanger',
       'Carretillero galvanizado', 'Fertigungsingenieur',
       'Recibidor Línea de 7m', 'CHOFER CAMIÓN CARPINTERIA',
       'TORO GRANDE', 'Si', 'Ayudante volteador',
       'Maschinenführer 1 Presse', 'Operador de Embalagem LCL',
       'Mecanico', 'Tornero ajustador', 'MF1 LONGI001',
       'MAQUINISTA PRENSA004', 'Loading team leader', 'POTE',

In [257]:
staff.drop(columns={'Puesto habitual de trabajo'}, inplace=True)

In [258]:
#gender

staff.rename(columns={'Género':'Gender'}, inplace=True)

In [260]:
staff['Gender'].unique()

array(['Hombre', nan, 'Mujer'], dtype=object)

In [275]:
staff['Gender'] = staff['Gender'].fillna('Hombre')

In [276]:
len(staff[staff['Gender'].isnull()])

0

In [277]:
staff['Gender'].unique()

array(['Hombre', 'Mujer'], dtype=object)